<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>157165878751-4evt2nk2u0iqai0hq86df7flnitlhe9k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.157165878751-4evt2nk2u0iqai0hq86df7flnitlhe9k</string>
	<key>API_KEY</key>
	<string>AIzaSyDwO46_SNVeg_pB07YuQxCIPYIrzFuGiaM</string>
	<key>GCM_SENDER_ID</key>
	<string>157165878751</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>coursIos.carnetContact</string>
	<key>PROJECT_ID</key>
	<string>testios-3435b</string>
	<key>STORAGE_BUCKET</key>
	<string>testios-3435b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:157165878751:ios:a9b942fec335af1fee986a</string>
	<key>DATABASE_URL</key>
	<string>https://testios-3435b.firebaseio.com</string>
</dict>
</plist>